/*式*/
BODY {  font-family: "tahoma";
	    font-size: 12px;
	    text-decoration:none;
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
		margin-bottom:0px;
		background-color:#fafaf2;
}
td {  font-family: "tahoma";
	    font-size: 12px;
	    text-decoration:none;
}
#main{background-color:#FFFFFF}

/*准式*/
a:link {color: #3795da;
	text-decoration: none;
}
a:hover {color: #ff9900;
         text-decoration: underline;
}
a:visited {color: #416194;
         text-decoration: none;
}

/* 式  */
#Top a:link{
    color:#0A3F4A;
	text-decoration: none;
	}
#Top a:hover{
    color:#0A3F4A;
	text-decoration: none;
	}
#Top a:visited{
    color:#0A3F4A;
	text-decoration: none;
	}
#Per a:link{
    color:#ffffff;
	font-weight:bold;
	text-decoration:underline;
	}
#Per a:hover{
    color:#006699;
	font-weight:bold;
	text-decoration:underline;
	}
#Per a:visited{
    color:#ffffff;
	font-weight:bold;
	text-decoration:underline;
	}
/*式*/
.red {
	font-family: "Tahoma", "LucidaGrande";
	font-size: 12px;
	line-height: 130%;
	color: #ff0000;
	text-decoration:none
}
.redbold {
font-weight:bold; 
	font-family: "Tahoma", "LucidaGrande";
	font-size: 12px;
	color: #ff0000;
	text-decoration:none;
	letter-spacing:0.53pc;
}
.enstd {
	font-family: "tahoma";
	font-size: 10px;
}
.enbold {
	font-family: "tahoma";
	font-size: 11px;
	font-weight: bolder;
}
.titlecn {
	font-weight: bolder;
	color: #709CC9;
	font-size: 12px;
}
.lee {
	 PADDING-RIGHT: 0px;
        PADDING-LEFT: 6px; 
        PADDING-BOTTOM: 0px; 
        PADDING-TOP: 0px; 
        margin-left:6px;
        margin-right:0px;
        margin-top:0px;
        margin-bottom:0px
}
.leein {
	 PADDING-RIGHT: 0px; 
        PADDING-LEFT: 0px; 
        PADDING-BOTTOM: 6px; 
        PADDING-TOP: 0px;
        MARGIN: 0px 0px 0px 6px;
}
.blue {
	font-family: "tahoma";
	font-size: 12px;
	line-height: 130%;
	color: #015c9a;
	text-decoration:none
}
.white {
	font-size: 12px;
	color: #FFFFFF;
}
.title{
	font-size: 12px;
	color: #ff9900;
       text-decoration:none
}
.green{
	font-size: 12px;
	color: #0c8193;
    text-decoration:none;
}
.supersock {
	font-size: 12px;
	line-height: 130%;
	color: #666666;
}
.formstyle {
	FONT-SIZE: 9pt;
	BORDER-RIGHT: #416194 1px solid;
	BORDER-TOP: #416194 1px solid;
	BORDER-LEFT: #416194 1px solid;
	BORDER-BOTTOM: #416194 1px solid;
	font-family: "tahoma";
	background-color: #FFFFFF;

}.supergray {
	font-size: 9pt;
	line-height: 130%;
	color: #444444;
}
.clear {
	font-family: "tahoma";
	font-size: 11px;
	line-height: 135%;
}
.eng {
	font-family: "tahoma";
	font-size: 11px;
	font-weight: bold;
}
.superblack {
	font-size: 9pt;
	line-height: 25px;
	line-height:120%;
	color: #000000;
}
.bigblack {
	font-size: 14px;
	line-height:120%;
	color:#666666;
	font-weight:bold;
}
.delele {
	font-size: 11px;
	color: #000000;
	text-decoration: line-through;
	font-weight: bolder;
	font-family: "Tahoma", "LucidaGrande";

}
.fred{color: #000000;}
.Input {
	font-family: "tahoma";
	font-size: 9pt;
	border: 1px solid #9BAD7D;
}
/*表格样式*/
.table
{
	BACKGROUND-COLOR: #ffffff;border:1px solid #C0C0C0;
}
.table-gray
{
	BACKGROUND-COLOR: #C0C0C0;border:1px solid #C0C0C0;
}

.table-header1
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #0c8193;
    TEXT-ALIGN: center;
	height:20px;
    font-color:#ffffff
}
.table-record1
{
    BACKGROUND-COLOR: #f0f0f0;
	TEXT-ALIGN: center;
	height:20px;
}
.table-record2
{
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center;
    height:20px;
}

.td-record1
{
	padding-left:10px;
    BACKGROUND-COLOR: #F0F0F0;
	TEXT-ALIGN: left;
	height:20px; border-left-style:solid; border-left-width:1px; border-right-width:1px; border-top-width:1px; border-bottom-style:solid; border-bottom-width:1px
}
.td-record2
{
	padding-left:10px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: left;
    height:20px; border-left-style:solid; border-left-width:1px; border-right-width:1px; border-top-width:1px; border-bottom-style:solid; border-bottom-width:1px
}
.table-item
{
    FONT-SIZE: 10pt;
    BACKGROUND-COLOR: #ffffff;
    height:20px;
}
.table-bottom
{
	COLOR: #ffffff;
    FONT-SIZE: 10pt;
    BACKGROUND-COLOR: #666666;
    height:20px;
}

h1 {
    font-family:黑体;
	padding:4px;
	font-size:16pt;
	text-valign:middle;
	TEXT-ALIGN: center;
	color:#000000;
	margin-bottom:0px ;
}
INPUT.normal {
	border: 1px solid #AAAAAA;
	background-color: #FFFFFF;
	ime-mode: inactive;
	text-align:left;
}
INPUT.output {
	border: 1px solid #AAAAAA;
	background-color: #CCCCCC;
}
TEXTAREA.output {
	border: 1px solid #AAAAAA;
	background-color: #CCCCCC;
}
INPUT.button-normal{
	font-family: "Tahoma", "宋体";
    font-size: 9pt; color: #003366;
    border: 0px #93bee2 solid;
   /**//* BORDER-BOTTOM: #93bee2 1px solid; 
    BORDER-LEFT: #93bee2 1px solid; 
    BORDER-RIGHT: #93bee2 1px solid; 
    BORDER-TOP: #93bee2 1px solid;*/
    background-image:url(../Images/blue_button_bg.jpg);
    background-color: #ffffff;
    CURSOR: hand;
    font-style: normal ;
}
TEXTAREA.normal {
	border: 1px solid #AAAAAA;
	background-color: #FFFFFF;
	ime-mode: inactive;
}
SELECT.normal {
	font-family: 宋体;
	font-size:12px;
	border:1 solid #AAAAAA;
}
.td-value
{
	padding-left:15px;
    border-bottom:1px solid #C0C0C0;
    BACKGROUND-COLOR: #f0f0f0;
	TEXT-ALIGN: left;
	height:20px; font-weight:bold
}
.td-value-center
{
    border-bottom:1px solid #C0C0C0;
    BACKGROUND-COLOR: #f0f0f0;
	TEXT-ALIGN: center;
	height:20px; font-weight:bold
}
.td-title
{
	padding-left:15px;
    border-bottom:1px solid #C0C0C0;
    BACKGROUND-COLOR: #FFFFFF;
    TEXT-ALIGN: left;
    height:20px
}
.description
{
    BACKGROUND-COLOR: #FFFFFF;
    TEXT-ALIGN: left;
    height:80px
}
.richbox
{
	border-bottom:1px solid #C0C0C0;

    BACKGROUND-COLOR: #FFFFFF;
    TEXT-ALIGN: left;
    word-break: break-all; padding-left:15px; padding-right:15px; padding-top:5px; padding-bottom:5px
}